<html>
<head>	
	<link rel="stylesheet" type="text/css" href="User.css" media="screen" />
	<link rel="stylesheet" type="text/css" href="project.css" media="screen" />
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <title>View Task</title>
</head>
<body>
<div id="vTask" ng-app="vTaskManagement" ng-controller="vTaskController">
<form>
	<div>												
	<table border="0">
		<td>
 				<B>Project:</B>
			</td>
			<td>
				<form>
				<input list="proList" type="" name="projectNameL"  size="20"  ng-model="projectNameL"  ng-disabled="searchproject1.flag"  style="background-color: Gainsboro;border: 0px none;" ng-blur="populateList(this.value)"  required>
				<datalist id="proList">
                        <option ng-repeat="proNameL in projectNameList" value="{{proNameL.project}}">
                 </datalist>
				<input name="doSearchprojectNameL"  ng-click="searchprojectNameL()"  ng-model="searchproject1.flag"  type="submit"  value="   Search  "  style="border-radius: 50%;background:white;">
			</form>	
			</td>
			<td>
				<font face="verdana" size="1"><I>  Sort By:</I></font>
				<input name="sortBySDate" type="submit" ng-click="doSortBySDate()"  value="  Start Date " >
				<input name="sortByEDate"type="submit" ng-click="doSortByEDate()"  value="  End Date ">
				<input name="sortByPriority"type="submit" ng-click="doSortByPriority()"  value="  Priority ">
				<input name="sortByCompleted"type="submit" ng-click="doSortByCompletion()"  value="  Completed  ">
			</td>
	</table>
</div>
</form>
</br>
<div>
	<hr color="darkblue" width="80%"></hr>
</div>
</br>
<form>
<div  ng-repeat="task in taskDetails">
 <table style="border: 50px none;">
    <tr align="left">
    <td width="30">
    <B>Task</B>
    </td>
     <td width="30">
    <B>Parent Task</B>
    </td>
    <td>
    <B>Priority</B>
    </td>
    <td width="20">
    <B>Start </B>
    </td>
    <td width="20">
    <B>End</B>
    </td>
    <td></td>
    <td></td>
    </tr>
    <tr align="left">
  <td style="background-color: Gainsboro;">
  {{task.task}}
  </td>
  <td style="background-color: Gainsboro;">
  {{task.parentTaskName}}
  </td>
  <td>
  {{task.priority}}
  </td>
  <td>
  {{task.start_date|date:'dd/MM/yyyy'}}
  </td>
  <td>
  {{task.end_date|date:'dd/MM/yyyy'}}
  </td>
    <td>
    <a ng-href="#uTask?name={{task.task}}"><input name="doUpdate"type="submit"  value=" Edit "></a>
    </td>
    <td>
    <input name="doSuspend" type="submit" ng-click="doEnd(task)"  value="End Task">
    </td>
    </tr>
    </table>
    </br>
     <div>
	<hr style="border-top: dotted 1px;" width=35%"></hr>
</div>
</br>
</div>
</form>
</div>
<script>
 var app = angular.module("vTaskManagement", []);    

 
//Controller Part

</script>
</body>
</html>